<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    #cot {
        background-color: chartreuse;
    }
    #table{
        margin: auto;
        padding: 20px;
    }
    #creat{
        margin: auto;
        background: darkorange;
    }

</style>
<body>
<h1 style="text-align: center">List City</h1>
<td id="creat"><a href="/create-city"><input type="submit" value="Creat new city"></a></td>
<table border="1" id="table">
    <tr id="cot">
        <th>#</th>
        <th>Name City</th>
        <th>Nation</th>
        <th>Acreage</th>
        <th>Population</th>
        <th>GDP</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="city : ${citys}">
        <tr>
            <td th:text="${city.id}"></td>
            <td><a th:href="@{/view-city/__${city.id}__}" th:text="${city.nameCity}"></a>
            </td>
            <td th:text="${city.nation}!=null?${city.nation.name} :''"></td>
            <td th:text="${city.acreage}"></td>
            <td th:text="${city.population}"></td>
            <td th:text="${city.gdp}"></td>
            <td th:text="${city.description}"></td>
            <td><a th:href="@{/edit-city/__${city.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-city/__${city.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>